<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${notice.title}">공지 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/my-fonts.css">
</head>
<style>
    .review-content {
        white-space: pre-line; /* 줄바꿈 적용 */
        word-wrap: break-word; /* 긴 단어 줄바꿈 */
    }

    /* 설명 텍스트에도 적용 */
    .card-text {
        white-space: pre-line;
        word-wrap: break-word;
    }

</style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container py-5">
    <div class="card">
        <div class="card-header text-white" style="background-color: #FF7F27;">
        <h3 class="card-title mb-0" th:text="${notice.title}">공지 제목</h3>
        </div>
        <div class="card-body">
            <p class="text-muted mb-3">
                <strong>작성일:</strong>
                <span th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </p>
            <hr>
            <p class="card-text review-content" th:text="${notice.content}">공지 내용</div>
            <div class="card-footer text-end">
            <span sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/posts/notices/{id}/edit(id=${notice.id})}" class="btn btn-outline-primary">수정</a>
                <form th:action="@{/posts/notices/{id}/delete(id=${notice.id})}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">삭제</button>
                </form>
            </span>
                <a th:href="@{/posts/notices}" class="btn btn-secondary">목록으로 돌아가기</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
