<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Navbar Fragment</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/my-fonts.css">

    <style>
        .kakao-login-btn {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
        .kakao-login-btn img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
<div th:fragment="navbar">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/images/logo.png" alt="Logo" style="height: 30px;"> <strong>냠톨릭2.0</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="margin-right: auto;">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/restaurant/recommendation}"><strong>음식점 랜덤 추천</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/restaurant/list}"><strong>음식점 리스트</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/catholic/menu}"><strong>학식정보</strong></a>
                    </li>
                    <!-- New nav-item for 만냠 -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://csec.site" target="_blank"><strong>만냠</strong></a>
                    </li>
                    <!-- 메인 카테고리와 기타 카테고리 사이의 세로선 추가 -->
                    <div class="navbar-text vertical-divider"></div>
                    <!-- 메인 카테고리 -->

                </ul>

                <ul class="navbar-nav">
                    <a class="nav-link" th:href="@{/user/suggestions}">건의사항</a>
                    <!-- Kakao login button or logout button based on authentication status -->
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}"><strong>로그인</strong></a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/mypage}" style="text-decoration: underline;">
                        <strong>
                            마이페이지
                        </strong>
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}"><strong>회원가입</strong></a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><strong>로그아웃</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <script src="/js/jquery-3.7.1.min.js"></script>



</div>

</body>
</html>