@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/NotoSansKR-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gmarket';
    src: url('../fonts/GmarketSansLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketM';
    src: url('../fonts/GmarketSansMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketB';
    src: url('../fonts/GmarketSansBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketM', sans-serif;
}
.navbar{
    font-family: 'Gmarket', sans-serif;
}
.navbar-brand{
    font-family: 'Gmarket', sans-serif;
    font-weight: bold;
}

h1.my-4 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-top: 300px;
}

.subtitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 60px;
}